<div class="row">
 <div class="col-md-8">
<table class="table">
<tr>
  <td><%= "#{shopping_cart_item.item.name.capitalize}" %></td>
  <td>
    <div><%= shopping_cart_item.item.price %></div>
  </td>
  </tr>
   </table>
  </div>
  </div>