.jumbotron {
   h1,h3 {
	font-family: guardian-egypt, georia, serif;
}
	background-color:#E7E9EC;
	h3 {
		color: #00008B;
		font-weight: bold;
	    }
}

body {
	background-color: #f0f5f5;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 70px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.center {
  text-align: center;
}
.col-md-3:nth-child(4n+1){
	clear:left;
}
.col-md-8:nth-child(4n+1){
	clear:left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

.col-md-4 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

.caption {
	h3{
		font-size: 17px;
		margin: 2px;
}
 p {
		font-size: 15px;
		margin: 0px;
   }
}
